@use "./variables";
@use "./fonts";

.features{
    padding: 4% 6%;
}

.featuresBox{
    text-align: center;
    padding-bottom: 50px;

}

.featuresBox h6{
    color: variables.$darker-yellow;
    text-transform: uppercase;
    font-size: 0.8rem;
}

.featuresBox h1{
    color: white;
    font-size: 3rem;
    font-weight: 600;
}

.featuresIcons{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 25%;
    background-color: white;
    padding: 3%;  
    border-radius: 5px; 
}

.featuresIcon p{
    font-size:1.2rem;
    font-weight: 400;
}

.featuresIcon h2{
    text-transform: uppercase;
    font-size: 2rem;
}

.featuresIcon{
    line-height: 3rem;
    width: 15%;
}

#imgWidth{
    width: 80px;
}

#imgHeight{
    height: 80px;
}