@use "./variables";
@use "./fonts";

.footer{
    padding: 4% 6%;
    background-color: variables.$bg-dark;
}

.footerBox{
    display: flex;
    justify-content: center;
    gap: 25%;
    color: white;
}

.footerBox div{
    text-align: center;
}

#linkedin{
    width: 150px;
}

#CBIC{
    width: 200px;
}