@use "./variables";
@use "./fonts";

.footer {
    padding: 4% 6%;
    background-color: variables.$bg-dark;
}

.footerBox {
    display: flex;
    justify-content: space-between;
    color: white;
    gap: 50px;
    flex-wrap: wrap; 
}

.footerBox div {
    text-align: center;
    flex: 1; 
    min-width: 150px;
}

#linkedin {
    width: 100px;
    margin-top: 20px;
}

#CBIC {
    width: 120px;
    margin-top: 20px;
}

@media screen and (max-width: 980px) {
    .footerBox {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .footerBox div:last-child {
        margin-top: 20px; 
    }


    .footerBox div:nth-child(2) {
        order: 3;
    }


    #linkedin {
        order: 2; 
        width: 120px;
    }

    #CBIC {
        order: 1; 
        width: 120px;
    }
}
