@use "./variables";
@use "./fonts";

.post {
  width: 600px;
  background-color: variables.$bg-dark;
  padding: 30px;
  border-radius: 10px;
}

.postHeader {
  display: flex;
  gap: 10px;
}

.postHeader h1 {
  font-size: 1.7rem;
  color: variables.$darker-yellow;
}

.nameDate {
  display: flex;
  gap: 10px;
}

#calendar {
  width: 15px;
}

.date {
  display: flex;
  gap: 5px;
  color: variables.$gray;
}

#publisher {
  font-weight: 600;
  color: white;
}

#dot {
  color: variables.$gray;
}

.article {
  padding: 18px;
  max-height: 250px;
  position: relative;
  overflow: hidden;
  color: white;
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 60%,
    rgba(0, 0, 0, 0)
  );
 
}


.postFooter {
  background-color: rgba(128, 128, 128, 0.212);
  padding: 15px;
  display: flex;
  border-radius: 10px;
  flex-direction: row-reverse;

}

#read {
  background-color: variables.$lighter-yellow;
  border-radius: 5px;
  border: 0;
  padding: 15px;
  font-weight: 600;
  font-size: 0.8rem;
  width: 200px;
  cursor: pointer;
  transition: 0.2s ease;
}

#read:hover {
  transform: scale(1.1);
  transition: 0.2s ease;
}

.badge {
  position: relative;
  border-radius: 15px;
}

.dateBadge {
  position: absolute;
  top: 20px;
  left: -70px;
  background-color: variables.$lighter-yellow;
  padding: 10px;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  padding-block: 20px;
  text-transform: uppercase;
}

#day {
  font-size: 1.4rem;
}

#month {
  font-size: 1rem;
}
