@use "./variables";
@use "./fonts";

.page {
  display: flex;
  width: 100%;
  color: white;
}

.addAdmin {
  width: 82%;
  align-items: center;
  display: flex;
  justify-content: center;
}

#email, #password {
  width: 100%;
  height: 40px;
  padding: 5px;

}


.addAdmin button{
  background-color: variables.$darker-yellow;
  width: 180px;
  border-radius: 5px;
  padding: 10px;
  transition: .1s ease;
  font-size: 1rem;
  margin-top: 5px;

}
.addAdmin button:hover{
  transform: scale(1.1);
  transition: .1s ease;
}
