@use "./variables";
@use "./fonts";

.product{
    padding: 4% 6%;
    display: flex;
    align-items: center;
    height: 85vh;
    display: block;
}

.productSection{
    display: flex;
}

.productBox{
    width: 50%;
}

.productBox h6{
    color: variables.$darker-yellow;
    text-transform: uppercase;
    font-size: 0.8rem;
}

.productBox h1{
    color: white;
    font-size: 3rem;
    font-weight: 600;
}

.productBox p{
    color: variables.$gray;
    font-size:1.2rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem ;
    font-weight: 400;
    line-height: 1.8rem;
}

.productBoxes{
    padding-left: 40%;
}

.usage{
    display: flex;
}

.usageBox{
    border: 2px solid white;
    margin: 20px;
    padding: 20px;
    align-items: center;
    color: white;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    justify-content: center;
    display: grid;
    transition: .5s ease;
    user-select: none;
}

.usageBox:hover{
    transform: scale(1.1);
    transition: .5s ease;
    border: 2px solid variables.$darker-yellow;
}

.usageBox div{
 text-align: center;
}

.usageBox img{
    padding-bottom: 10px;
}

.usage img{
    width: 45px;
}


// SERVICES

.services{
    padding: 4% 6%;
    position: relative;
    z-index: 10;
    margin-top: -28%;
}

.services h1{
    color: rgb(0, 0, 0);
    font-size: 3rem;
    font-weight: 600;
}

.services h6{
    color: variables.$darker-yellow;
    text-transform: uppercase;
    font-size: 0.8rem;
}

.servicesBox{
    text-align: center;
    padding-bottom: 30px;
}

.servicesCards{
    display: flex;
    align-items: center;
    gap: 5%;
    justify-content: center;

}

.servicesCard{
    background-color: white;
    border: 12.5px solid variables.$bg-dark;
    max-width: 400px;
    height: 450px;
    border-radius: 10px;
    padding: 2% 2%;
    line-height: 30px;
    user-select: none;
}

.servicesCard h2{
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-size: 1.3rem;
}

.servicesCard p{
    color: black;    
    font-size:1.1rem;
    font-weight: 400;
    line-height: 1.8rem;
}

.servicesCard div{
    background-color: variables.$bg-dark;
    display: inline-flex;
    justify-content: center;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

@media screen and (max-width: 1716px){
  .services{
    margin-top: -30%;
  }
}

@media screen and (max-width: 1600px){
.product{
  height: 90vh;
}

}

@media screen and (max-width: 1500px){
.product{
  height: 100vh;
}

}

@media screen and (max-width: 1268px){

  .services{
    margin-top: -40%;
  }

}
@media screen and (max-width: 1292px){

  .product{
    height: 110vh;
  }

}

@media screen and (max-width: 1030px) {
    .product {
      padding: 6% 4%;
    }
  
    .productSection {
      flex-direction: column;
      gap: 40px;
    }
  
    .productBox {
        width: 100%;
        text-align: center;
      }
      
  
    .productBox h1,
    .productBox p {
      text-align: center;
    }
  
    .productBoxes {
      padding-left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  
    .usage {
      align-items: center;
    }
  
    .usageBox {
      width: 150px;
      height: 150px;
      padding: 20px;
    }


    .usageBox h5 {
      font-size: 1rem;
    }
  
    .product {
      height: auto;
    }
  }
  


  @media screen and (max-width: 1030px) {
    .services {
      margin-top: 0;
      padding: 10% 6%;
    }

    .services h1{
        color: white;
    }
  
    .servicesBox {
      padding-bottom: 20px;

    }
  
    .servicesCards {
      flex-direction: column;
      gap: 30px;
      align-items: center;
    }
  
    .servicesCard {
      max-width: 90%;
      height: auto;
      padding: 30px 20px;
      border-radius: 10px;
      border: white;
    
    }

    .servicesCard div{
        background-color: variables.$bg-dark;
        display: flex;
        justify-content: center;
        border-radius: 50%;
        width: 100px;
        height: 100px;
    }
  
    .servicesCard div {
      margin: 0 auto 20px auto;
      
      
    }
  
    .servicesCard h2,
    .servicesCard p {
      text-align: center;
    }
  }
  