@use "./variables";
@use "./fonts";

.team {
    background-color: white;
    padding: 4% 6%;        
}

.teamRow {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 4%;
    gap: 50px;
    flex-wrap: wrap; 
}

.teamTitle {
    text-align: center;
}

.teamTitle h6 {
    color: variables.$darker-yellow;
    text-transform: uppercase;
    font-size: 0.8rem;
}

.teamTitle h1 {
    font-size: 3rem;
    font-weight: 600;
    padding-bottom: 50px;
    color: black;
}

.personCard {
    width: 22%; 
    margin-bottom: 30px; 
    text-align: center;
    min-width: 220px;
}

.personCard img {
    width: 200px;
    transition: .5s;
    padding-bottom: 10px;
}

.personCard img:hover {
    transform: scale(1.1);
    transition: .5s;
}

@media screen and (max-width: 1440px) {
    .personCard {
        width: 45%; 
    }
}

@media screen and (max-width: 980px) {
    .personCard {
        width: 100%; 
    }
}
